<div class="container pt-50">
    <div class="row">

        <div class="col-md-12 well">
          
          <div class="clearfix">
             <div class="pull-left">
                 <a routerLink="/" class="btn btn-default">Back to Shop</a>
             </div>
             <div class="pull-right">
                  <p>Cart</p>
             </div>
          </div>

          <table class="table mt-5" *ngIf="cart_items.length else noItemsInCart">
            <thead>
              <tr>
                <th>Name</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th>Manage</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cart_items">
                <td>{{item.title}}</td>
                <td>
                  <div class="input-group" style="width: 30%;">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" (click)="decreaseQty(item)">-</button>
                    </span>
                    <input type="number" class="form-control" value="{{item.qty}}" min="1">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" (click)="increaseQty(item)">+</button>
                    </span>
                  </div>

                </td>
                <td>{{item.price | currency}}</td>
                <td>{{ (item.price * item.qty) | currency }}</td>
                <td>
                  <button class="btn btn-danger btn-block btn-sm" type="button" (click)="onRemoveItem(item)"> remove </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Total</td>
                  <td>
                     {{cart_total | currency }}
                  </td>
                  <td><a class="btn btn-sm btn-block btn-success" routerLink="/checkout">Checkout</a></td>
                </tr>
            </tfoot>
          </table>

          <ng-template #noItemsInCart class="mt-5">
                <h3 class="text-center">There are no items in your cart..</h3>
          </ng-template>

        </div>

    </div>
 </div>
 